<% include partials/header.ejs %>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsXhdasJZnr46x-B5RzjBK7LkXeoXobgTI5MW2A800HJkCrQLl" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIFhKaZ0SQ_X5ywiuu-9H1EcBxN8qdUSZRyIZcPnULqQxFsRnp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIFhKaZ0SQ_X5ywiuu-9H1EcBxN8qdUSZRyIZcPnULqQxFsRnp" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
<% include partials/footer.ejs %>